<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.12.1">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>todo-client</displayName>
  <version>0.0.1-SNAPSHOT</version>
  <packaging>jar</packaging>
  <relativePath>utils/clients/todo-client</relativePath>
  <dependencies>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-compiler-plugin</artifactId>
      <version>3.3</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.slf4j</groupId>
      <artifactId>slf4j-api</artifactId>
      <version>1.7.12</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.codehaus.mojo</groupId>
      <artifactId>versions-maven-plugin</artifactId>
      <version>2.2</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>bobkubista.examples.utils</groupId>
      <artifactId>domain-model</artifactId>
      <version>0.0.1-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.jacoco</groupId>
      <artifactId>jacoco-maven-plugin</artifactId>
      <version>0.7.4.201502262128</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>bobkubista.examples.utils</groupId>
      <artifactId>rest-utils</artifactId>
      <version>0.0.1-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>bobkubista.examples.services.api</groupId>
      <artifactId>todo-rest-api</artifactId>
      <version>0.0.1-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>bobkubista.examples.utils</groupId>
      <artifactId>clients</artifactId>
      <version>0.0.1-SNAPSHOT</version>
      <plugin>false</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-dependency-plugin</artifactId>
      <version>2.10</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>bobkubista.examples.utils</groupId>
      <artifactId>property-utils</artifactId>
      <version>0.0.1-SNAPSHOT</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>javax.ws.rs</groupId>
      <artifactId>javax.ws.rs-api</artifactId>
      <version>2.0.1</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>javax</groupId>
      <artifactId>javaee-api</artifactId>
      <version>7.0</version>
      <plugin>false</plugin>
      <scope>compile</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-surefire-plugin</artifactId>
      <version>2.18.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-surefire-report-plugin</artifactId>
      <version>2.18.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>4.11</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-failsafe-plugin</artifactId>
      <version>2.12.1</version>
      <plugin>true</plugin>
    </dependency>
  </dependencies>
  <children/>
</maven2>