<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>bobbykubista</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>uG33mpibJc28UPmJWEnDISxbd+A7RgYkvcSUjOCLUd3nOXGE+h3VWP0T+8pcDLzA</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.23">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.15">
      <emailAddress>bobbykubista@yahoo.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.cigame.UserScoreProperty plugin="ci-game@1.22">
      <score>277.0</score>
      <isNotParticipatingInGame>false</isNotParticipatingInGame>
      <scoreHistoryEntries class="linked-list">
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>main - workspace/master#172</run>
            <run>main - sonar/master#144</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>3.0</score>
          <accountableRuns>
            <run>main - workspace/master#172</run>
            <run>main - integration tests/master#155</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>main - workspace/master#172</run>
            <run>main -test/master#160</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>main - workspace/master#172</run>
            <run>main - validate/master#160</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>main - workspace/master#172</run>
            <run>main - compile/master#169</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns>
            <run>main - workspace/master#171</run>
          </accountableRuns>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns/>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns/>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>1.0</score>
          <accountableRuns/>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
        <hudson.plugins.cigame.model.ScoreHistoryEntry>
          <score>8.0</score>
          <accountableRuns/>
        </hudson.plugins.cigame.model.ScoreHistoryEntry>
      </scoreHistoryEntries>
    </hudson.plugins.cigame.UserScoreProperty>
  </properties>
</user>